[alias]
	com = commit
	dt = difftool
	lg = !"git lg1"
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(green)%an, %ar%C(reset)%C(yellow)%d%C(reset)%n%C(bold yellow)%s%C(reset)%n%b' --all
	st = status

[commit]
	verbose = true

[diff]
	mnemonicPrefix = true

[difftool]
	prompt = false
